

  body {
    font-family: "Poppins", sans-serif;
  }
  
  /* ///////////..utility classes../////////// */
  
  .container {
    max-width:1000px;
    width: 90%;
    margin: auto;
  }
  .navbar {
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    width: 100%;
    background: #fff;
    color: #000;
    opacity: 0.75;
    height: 60px;
    z-index: 13;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-around;
    height: 65px;
    align-items: center;
  }
  .menu-items li {
    list-style: none;
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
  }
  
  .menu-items a {
    text-decoration: none;
    color: #444;
    font-weight: 500;
   
  }
  
  .menu-items a:hover {
    color: #117964;
    transition: color 0.3s ease-in-out;
  }
  
  .showcase-area {
    height: 75vh;
    background: url("https://images.unsplash.com/photo-1600891964599-f61ba0e24092?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cmVzdGF1cmFudCUyMGZvb2R8ZW58MHx8MHx8fDA%3D");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
    opacity: 0.9;
    
  }
  
  .showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120%;
    font-size: 1.9rem;
    color: black;
   font-family: 'Times New Roman', Times, serif;
   font-size: 40px;
   
  }
  .showcase-container span{
            position: relative;
                display: inline-block;
                color: rgb(240, 88, 6);
                height: 1.25em;
                vertical-align: bottom;
                 overflow: hidden;

  }
  .showcase-container span>span{
    display: block;
    animation: animateWords 5s infinite ease;
  }
  
  @keyframes animateWords{
    0%{
        transform: translateY(0%);
    }
    25%{
        transform: translateY(-100%);
    }
    50%{
        transform: translateY(-200%);
    }
    75%{
        transform: translateY(-300%);
    }
}
  .logo {
    order: 1;
    font-size: 2.5rem;
    margin-bottom: 0.69rem;
  }

  .btn {
    display: -moz-inline-box;
    padding: 0.5em 1.5em;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: small;
  }
  
  .btn-primary {
    color: #fff;
    background: #16a083;
  }
  
  .btn-primary:hover {
    background: #117964;
 
  }
  
  
  .menu-items {
    order: 2;
    display: flex;
  }
  
  
  
  #about {
    padding: 80px 0;
    background: #f5f5f7;
  }
  
  .about-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  
  #about h2 {
    font-size: 2.3rem;
  }
  
  #about p {
    font-size: 1.2rem;
    color: #555;
  }
  
  #about .small {
    font-size: 1.2rem;
    color: #666;
    font-weight: 600;
  }
  
  .about-img {
    flex: 1 1 400px;
    padding: 30px;
    transform: translateX(150%);
    animation: about-img-animation 1s ease-in-out forwards;
  }
  
  @keyframes about-img-animation {
    100% {
      transform: translate(0);
    }
  }
  
  .about-text {
    flex: 1 1 400px;
    padding: 30px;
    margin: auto;
    transform: translate(-15%);
    animation: about-text-animation 1s forwards;
  }
  
  @keyframes about-text-animation {
    100% {
      transform: translate(0);
    }
  }
  
  .about-img img {
    display: block;
    height: 400px;
    max-width: 100%;

    object-position: right;
  }
  
  /* ..........////Food category///........... */
  
  #food {
    padding: 100px;
  }
  
  #food h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #555;
  }
  
  .food-container {
    display: flex;
    justify-content: space-between;
  }
  
  .food-container img {
    display:flex;
    width: 100%;
    margin: auto;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
  }
  
  .img-container {
    margin: 0 1rem;
    position: relative;
  }
  
  .img-content {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 2;
    text-align: center;
    transition: all 0.3s ease-in-out 0.1s;
  }
  
  .img-content h3 {
    color: #fff;
    font-size: 2.2rem;
  }
  
  .img-content a {
    font-size: 1.2rem;
  }
  
  .img-container::after {

    display: block;
    position: absolute;
    
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.871);
    opacity: 0;
    z-index: 1;
  
    transform: scaleY(0);
    transform-origin: 100% 100%;
    transition: all 0.3s ease-in-out;
  }
  
  .img-container:hover::after {
    opacity: 1;
    transform: scaleY(1);
  }
  
  .img-container:hover .img-content {
    opacity: 1;
    top: 40%;
  }
  
  /* .........../Food Menu/............ */
  #food-menu{
    padding-top: 10%;
  }
  
  .food-menu-heading {
    text-align: center;
    font-size: 3.4rem;
    font-weight: 400;
    color: #666;
  }
  
  .food-menu-container {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px 30px 0px;
  }
  
  .food-menu-container img {
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }
  
  .food-menu-item {
    display: flex;
    flex: 1 1 600px;
    justify-content: space-evenly;
    margin-bottom: 3rem;
  }
  
  .food-description {
    margin: auto 1.5rem;
  }
  
  .font-title {
    font-size: 1.8rem;
    font-weight: 400;
    color: #444;
  }
  
  .food-description p {
    font-size: 1.4rem;
    color: #555;
    font-weight: 500;
  }
  
  .food-description .food-price {
    color: #117964;
    font-weight: 700;
  }
  
  /* ........./ Testimonial /.......... */
  
  #testimonials {
    padding: 5rem 0;
    background: rgba(243, 243, 243);
  }
  
  .testimonial-title {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 400;
    color: #555;
  }
  
  .testimonial-container {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    padding: 1rem;
  }
  
  .testimonial-box {
    text-align: center;
    padding: 1rem;
  }
  
  .customer-photo img {
    display: block;
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin: auto;
  }
  
  #contact {
    padding: 5rem 0;
    background: rgb(226, 226, 226);
  }
  
  .contact-container {
    display: flex;
    background: #fff;
  }
  
  .contact-img {
    width: 50%;
  }
  
  .contact-img img {
    display: block;
    height: 400px;
    width: 100%;
    object-position: center;
    object-fit: cover;
  }
  
  .form-container {
    padding: 1rem;
    width: 50%;
    margin: auto;
  }
  
  .form-container input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ddd;
    padding: 1rem 0;
    box-shadow: none;
    outline: none;
    margin-bottom: 1rem;
    color: #444;
    font-weight: 500;
  }
  
  .form-container textarea {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ddd;
    color: #444;
    outline: none;
    padding: 1rem 0;
    resize: none;
  }
  
  .form-container h2 {
    font-size: 2.7rem;
    font-weight: 500;
    color: #444;
    margin-bottom: 1rem;
    margin-top: -1.2rem;
  }
  
  .form-container a {
    font-size: 1.3rem;
  }
  
  #footer h2 {
    text-align: center;
    font-size: 1.8rem;
    padding: 2.6rem;
    font-weight: 500;
    color: #fff;
    background: rgb(65, 65, 65);
  }
  
  
  
